<!DOCTYPE html>
<html>
  <head>
    <title>Dispatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <meta property="og:title" content="Dispatch" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A messaging application inspired by Slack and Discord. Create workspaces, threads, and DMs to collaborate in real time." />
    <meta property="og:url" content="https://dispatch-one.herokuapp.com/#/signup">
    <meta property="og:image" content="https://i.imgur.com/ACWrkhJ.png" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo/quickreply_white_24dp.svg') %>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
        };
      </script>
    <% end %>
  </head>
  <body id='body-area'>
    <%= yield %>
  </body>
</html>
